.categoryList{
    border-right : 2px solid black;
    margin-bottom: 1rem;
    box-shadow: .2rem .2rem .8rem black;
}

.category{
    text-align: center;
    height: 100%;
    border-right: black solid .5rem;

}

.category img{
    width: 100%;
    height:70%;
    border-radius: .2rem;
    box-shadow:0 0 .8rem black;
    margin:2rem 0;
}

.products img{
    width:10rem;
    height:10rem;
    float: right;
    
}


.product{
    margin: .5rem 1rem !important;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    padding: 20px 0;
   
    width: 22%;
}



.discoutPercent{
    border : 2px solid red;
    align-self: center;
    color:red;
}

.price{
   text-decoration: line-through red;
   color: red;
}